<!DOCTYPE html>

<body>
    <h1>Creator Login</h1>

    <div>
        <form action="/creator-login" method="POST">
            <!-- make possible login with email also -->
            <!--
            <div> 
                <label for="email">E-Mail Address:</label>
                <input type="email" name="email" required>
            </div>
            -->

            <div>
                <label for="uname">Username:</label>
                <input type="text" name="uname" required>
            </div>

            <div>
                <label for="pwd">Password:</label>
                <input type="text" name="pwd" required>
            </div>

            <div>
                <button type="submit" name="login">Login</button>
            </div>
        </form>
    </div>

</body>