<!DOCTYPE html>
<head>
    <style>
        body {
            background-image: url('assets/cell2.png');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
        }
        </style>
</head>
<body>
    <h1>Augmented Learning Web Application</h1>
    <a href="/creator-login">Login</a>
    <a href="/register">Register</a>
</body>